*{
	box-sizing: border-box;
	
}

html{
	height: 100%;
}

body{
	height: 100%;
	font-size: 100%;
	font-family: font(), Arial, sans-serif;
}

.container{
	@include container(1170px);
	@include clear();
	@include trans(.2s);
	@media only screen and (max-width : $medium){
		width: 100%;
		max-width: $medium;
		padding: 0 15px;
	}
}

.wrapper{
	width: 100%;
	//display: flex;
	//min-height: 100vh;
  	//flex-direction: column;
}


.content{
	/* flex: 1; would be enough but it looks bad in IE */
  //flex: 1 0 auto;
}

img{
	width: 100%;
	height: auto;
}
