@font-face {
    font-family: 'OpenSansCondensed-Light';
    src: url('../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.eot');
    src: url('../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.woff') format('woff'),
         url('../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSansCondensed-Italic';
    src: url('../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.eot');
    src: url('../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.woff') format('woff'),
         url('../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSansCondensed-Bold';
    src: url('../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.eot');
    src: url('../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.woff') format('woff'),
         url('../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontAwesome.woff') format('woff'),
         url('../fonts/FontAwesome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

