@font-face {
    font-family: 'OpenSansCondensed-Light';
    src: url('../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.eot');
    src: url('../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.woff') format('woff'),
         url('../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSansCondensed-Italic';
    src: url('../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.eot');
    src: url('../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.woff') format('woff'),
         url('../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSansCondensed-Bold';
    src: url('../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.eot');
    src: url('../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.woff') format('woff'),
         url('../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/CustomFont/CustomFont.eot?58238920');
  src: url('../fonts/CustomFont/CustomFont.eot?58238920#iefix') format('embedded-opentype'),
       url('../fonts/CustomFont/CustomFont.woff2?58238920') format('woff2'),
       url('../fonts/CustomFont/CustomFont.woff?58238920') format('woff'),
       url('../fonts/CustomFont/CustomFont.ttf?58238920') format('truetype'),
       url('../fonts/CustomFont/CustomFont.svg?58238920#custom-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
