.fa {
  display: inline-block;
  font: normal normal normal 14px/1  $fontIcon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fa-search:before {
  content: "\f002";
}

.fa-heart:before {
  content: "\f004";
}

.fa-heart:before {
  content: "\f004";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-vk:before {
  content: "\f189";
}