@function font( $type:$light, $font:$fontMain, $kind:"" ){
	@return $font + "-" + $type + $kind;
}

@mixin line($color:red){
	outline: 1px solid $color;
}

@function img($name, $path: "../img/"){
	@return url($path + $name);
}


@mixin trans($speed: .2s){
	transition: $speed;
}



@mixin cloth($type: after, $z:1){
	&:#{$type}{
		@extend %cloth;
		z-index: $z;
	}
}