//Fonts
 $fontMain : "OpenSansCondensed";
 $light : "Light";
 $italic : "Italic";
 $bold : "Bold";
 $fontIcon : "FontAwesome";

// Size
$sizeDefault: 16;
$headerHeight: 114px;

$topSliderHeght: 500px;


// Media
$small: 480px;
$medium : 768px;
$large : 1024px;
