section.preview
	.top-image
		+topImageItem("preview-about.jpg")
			+topImageContent("Ultimate Bakery", "Обо мне")
.container
	.wrapper-content
		+avatar("man_300x200.jpg")
		p.
			Я Дмитрий Котовский, основатель данного сайта.Всё началось в 2013 году, когда я вдруг понял, что самая моя большая страсть - вкусная еда. Остальное, чем бы я ни занимался, постепенно теряло былую ценность и покидало круг моих интересов. Именнотогда я понял, что блогу о еде быть. Во-первых, я смогу делиться теми знаниями, которые сам приобретал, а, во-вторых, дисциплинирую себя. Потому что одно дело пообещать развиваться себе, а другое дело сотне людей, тут уж не отложишь в долгий ящик свои поиски новых знаний.Ещё пара месяцев ушла на выбор и покупку фотоаппарата, выбор домена и его регистрацию. А первый мой рецепт, который я выложил здесь - были американские панкейки. Наверное половину дня я провел на кухне, снимая процесс, перекладывая башенку снова и снова. Теперь все мои блюда ищите в разделе Рецепты.