include ../base/mixins

-var title = "Ultimate baker";


doctype html
head
	include ../modules/head
	script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
	block title
body
	block wrapper
		block header
		block content
		block footer
	script(src="js/libs.js")
	script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js")
	script(src="js/main.js")