include ../base/mixins

doctype html
head
	include ../modules/head
body
	.wrapper
		header.header
			include ../modules/header
		block content
		footer.footer
			include ../modules/footer
	script(src="js/libs.js")
	script(src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js")
	script(src="js/main.js")