title Ultimate baker
meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="format-detection", content = "telephone=no")

//-SEO
meta(charset="utf-8")
meta(name="keywords", content="Кондитерский блог")
meta(name="desctiption", content="Кондитерский блог")
meta(name="author", content="Котовский Дмитрий")
meta(name="copyright", content="(c) Ultimate Baker")

//-CSS
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
link(rel="stylesheet" href="css/libs.css")
link(rel="stylesheet" href="css/main.css")