section.preview
	.top-image
		+topImageItem("preview-blog.jpg")
			+topImageContent("Ultimate Bakery", "Блог, рецепты")
section.content
	.container
		.bread-crumbs
				ul.bread-crumbs__list
					li.bread-crumbs__item 
						a.bread-crumbs__link(href="index.html") Главная
					li.bread-crumbs__item 
						a.bread-crumbs__link(href="blog.html") Блог
		.article__list
			.article__item
				.wrapper-content
					a.article__preview(href="single.html")
						.wrap
							img.article__preview__img(src="img/min-item-1.jpg", alt="item-6")
						.article__preview__category
							i.article__icon.i-pie
					.article__content
						.article__content__title.
							Шоколадное печенье с орехами
						.article__content__text.
							 Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.
						.article__content__button
							+buttonLink("Подробнее","single.html","button")
			.article__item
				.wrapper-content
					a.article__preview(href="single.html")
						.wrap
							img.article__preview__img(src="img/min-item-2.jpg", alt="item-6")
						.article__preview__category
							i.article__icon.i-cupcake
					.article__content
						.article__content__title.
							Шоколадное печенье с орехами
						.article__content__text.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos accusamus illum quisquam quis beatae saepe, voluptatibus suscipit, corrupti praesentium earum eius non perspiciatis commodi rerum. Totam hic, quae tempora ea sed, beatae officia quis aut architecto, dolor laborum nulla esse. Laudantium nulla, dolorem id deserunt, rem possimus labore placeat beatae.
						.article__content__button
							+buttonLink("Подробнее","single.html","button")
			.article__item
				.wrapper-content
					a.article__preview(href="single.html")
						.wrap
							img.article__preview__img(src="img/min-item-3.jpg", alt="item-6")
						.article__preview__category
							i.article__icon.i-bread
					.article__content
						.article__content__title.
							Шоколадное печенье с орехами
						.article__content__text.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos accusamus illum quisquam quis beatae saepe, voluptatibus suscipit, corrupti praesentium earum eius non perspiciatis commodi rerum. Totam hic, quae tempora ea sed, beatae officia quis aut architecto, dolor laborum nulla esse. Laudantium nulla, dolorem id deserunt, rem possimus labore placeat beatae.
						.article__content__button
							+buttonLink("Подробнее","single.html","button")

		include sidebar

		.page-numbers
			include pagination
