section.preview
	.top-image
		+topImageItem("item-5.jpg")
			+topImageContent("Ultimate Bakery", "Блог, рецепты")
section.content
	.container
		.bread-crumbs
				include bread-crumbs
		.article__list
			.article__item
				.wrapper-content
					a.article__preview(href="#")
						.wrap
							img.article__preview__img(src="img/item-6.jpg", alt="item-6")
						.article__preview__category
					.article__content
						.article__content__title.
							Шоколадное печенье с орехами
						.article__content__text.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos accusamus illum quisquam quis beatae saepe, voluptatibus suscipit, corrupti praesentium earum eius non perspiciatis commodi rerum. Totam hic, quae tempora ea sed, beatae officia quis aut architecto, dolor laborum nulla esse. Laudantium nulla, dolorem id deserunt, rem possimus labore placeat beatae.
						.article__content__button
							+buttonLink("Подробнее","#","button")
			.article__item
				.wrapper-content
					a.article__preview(href="#")
						.wrap
							img.article__preview__img(src="img/item-6.jpg", alt="item-6")
						.article__preview__category
					.article__content
						.article__content__title.
							Шоколадное печенье с орехами
						.article__content__text.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos accusamus illum quisquam quis beatae saepe, voluptatibus suscipit, corrupti praesentium earum eius non perspiciatis commodi rerum. Totam hic, quae tempora ea sed, beatae officia quis aut architecto, dolor laborum nulla esse. Laudantium nulla, dolorem id deserunt, rem possimus labore placeat beatae.
						.article__content__button
							+buttonLink("Подробнее","#","button")
			.article__item
				.wrapper-content
					a.article__preview(href="#")
						.wrap
							img.article__preview__img(src="img/item-6.jpg", alt="item-6")
						.article__preview__category
					.article__content
						.article__content__title.
							Шоколадное печенье с орехами
						.article__content__text.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos accusamus illum quisquam quis beatae saepe, voluptatibus suscipit, corrupti praesentium earum eius non perspiciatis commodi rerum. Totam hic, quae tempora ea sed, beatae officia quis aut architecto, dolor laborum nulla esse. Laudantium nulla, dolorem id deserunt, rem possimus labore placeat beatae.
						.article__content__button
							+buttonLink("Подробнее","#","button")

		aside.sidebar
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit fuga, reiciendis saepe impedit soluta ab error asperiores amet libero ratione assumenda molestias earum rem vel id similique repellendus voluptatum dignissimos optio eum in! Corporis, modi quidem optio laboriosam omnis, mollitia in aliquid ea est id alias illum odio quis nesciunt.
		.page-numbers
			.p  1 2 3
