extends ../../../templates/previewTemplate

block preview-img
	.preview__img(style='background-image: url(img/item-5.jpg);')
block preview-content
	strong.preview__content__title Ultimate Bakery
	p.preview__content__text Блог, рецепты