aside.sidebar
			.wrapper-content
				.sidebar__item
					.sidebar__title Разное
					ul.sidebar__list
						li.sidebar__list__item.active
							a.sidebar__link(href="#")
								i.i-article
								span.sidebar__text Все Статьи
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-pen
								span.sidebar__text Заметки
				.sidebar__item
					.sidebar__title Рецепты
					ul.sidebar__list
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-bread
								span.sidebar__text Выпечка
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-pie
								span.sidebar__text Торты
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-cupcake
								span.sidebar__text Кондитерские изделия
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-salad
								span.sidebar__text Салаты
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-pizza
								span.sidebar__text Пицца
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-soup
								span.sidebar__text Супы
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-cook-hat
								span.sidebar__text Другие рецепты
				.sidebar__item
					.sidebar__title Кухня
					ul.sidebar__list
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-meat
								span.sidebar__text Европейская кухня
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-sushi
								span.sidebar__text Японская кухня
						li.sidebar__list__item
							a.sidebar__link(href="#")
								i.i-soup-2
								span.sidebar__text Русская кухня