section.preview
	.top-image
		+topImageItem("preview-blog.jpg")
			+topImageContent("Ultimate Bakery", "Блог, рецепты")
section.content
	.container
		.bread-crumbs
				ul.bread-crumbs__list
					li.bread-crumbs__item 
						a.bread-crumbs__link(href="index.html") Главная
					li.bread-crumbs__item 
						a.bread-crumbs__link(href="blog.html") Блог
					li.bread-crumbs__item 
						a.bread-crumbs__link(href="single.html") Шоколадное печенье с орехами
		.article__list
			.article__item
				.wrapper-content
					a.article__preview(href="single.html")
						.wrap
							img(src="img/min-item-2.jpg")

						.article__preview__category
							i.article__icon.i-cupcake
					.article__content
						.article__content__title.
							Шоколадное печенье с орехами
						.article__content__text.
							 Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

							Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

							Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

							Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

							Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

							Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

							Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

							Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

							Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

							Это пенье получается мягкое и тягучее, как десерт Бруни. Важно не предержать его в духовке - оно печется всего 8-10 минут, затем его нужно полностью остудить.

						img.article__preview__img(src="img/min-item-3.jpg", alt="item-6")
		include sidebar
		.comments
			+form("Ваше сообщение")
				+buttonLink("Отправить","#","button")
				i.message-form__ico.i-users
		.simular
			.simular__title Похожие статьи
			.simular__list
				.simular__item
					a.simular__wrap-link(href="single.html")
						img.simular__img(src="img/responsive/sim-1.jpg" alt="sim-1")
						.simular__content
							h4.simular__content__title Королевский мафина
							p.simular__content__text.
								Рецепт отменного мафина, очень простойРецепт отменного мафина, очень простойРецепт отменного мафина, очень простойРецепт отменного мафина, очень простой
							span.simular__content__link Читать подробнее
				.simular__item
					a.simular__wrap-link(href="single.html")
						img.simular__img(src="img/responsive/sim-1.jpg" alt="sim-1")
						.simular__content
							h4.simular__content__title Королевский мафина
							p.simular__content__text.
								Рецепт отменного мафина, очень простойРецепт отменного мафина, очень простойРецепт отменного мафина, очень простойРецепт отменного мафина, очень простой
							span.simular__content__link Читать подробнее
				.simular__item
					a.simular__wrap-link(href="single.html")
						img.simular__img(src="img/responsive/sim-1.jpg" alt="sim-1")
						.simular__content
							h4.simular__content__title Королевский мафина
							p.simular__content__text.
								Рецепт отменного мафина, очень простойРецепт отменного мафина, очень простойРецепт отменного мафина, очень простойРецепт отменного мафина, очень простой
							span.simular__content__link Читать подробнее
		