.ar-section{
	&__wrap{
		padding-top: 165px;
		@include clear();
		&_item{
			@include col(12);
			margin-bottom: 30px;
			@include apply-to($medium){
				margin-bottom: 50px;
			}
			@include apply-to($large){
				@include col(4);
				margin-bottom: 120px;
			}
		}
	}
}

