.no-touch{
	#blog{
		.content > .container{
			display: flex;
	  		justify-content: space-between;
	  		flex-wrap: wrap;
	  		flex-direction: row;
		}
	}
}


.flexbox{
	#blog{
		@include apply-to(320px,min,768px,max){
			.content > .container{
				display: flex;
		  		justify-content: space-between;
		  		flex-wrap: wrap;
		  		flex-direction: row;
			}
		}
	}
}



.article-list{
	order: 1;
	@include col(12);
	width: 100%;
}

.sidebar{
	order: 4;
	width: 100%;
}

.simular{
	width: 100%;
	order:3;	
}

.page-numbers{
	width: 100%;
	order: 2;
}

.single{
	.comments{
		width: 100%;
		order: 2;
		margin-bottom: 27px;
		@include apply-to($large){
			margin-bottom: 47px;
			margin-left: 0;
			width: 75%;
			padding-right: 15px;
		}
	}
}


@include apply-to($small){
	.sidebar{
		width: 100%;
		max-width: 100%;
	}
	.article__list{
		width: 100%;
	}

}

@include apply-to($large){

	.article__list{
		order: 1;
		@include col(9);
		padding-right: 15px;
	}
	.sidebar{
		order: 2;
		width: 100%;
		max-width: 20%;
		@include col(3);
		padding-left: 15px;
	}

	
	.page-numbers{
		order: 3;
		@include col(12);
		width: 100%;
	}
}



.no-flexbox {
	@include apply-to($medium){
		#blog{
		.content > .container{
			display: block;
		}
	}

	.article-list{
		@include col(9);
		padding-right: 15px;
	}
	.sidebar{
		@include col(3);
		padding-left: 15px;
	}

	
	.page-numbers{
		@include col(12)
	}
	}
	
}


// Sidebar grid

.sidebar{
	&__item{
		//@include line();
		@include col(12);
	}
	@include apply-to(562px){
		&__item{
			@include col(4);
		}
	}
	@include apply-to($medium){
		&__item{
			@include col(4);
		}
	}
	@include apply-to($large){
		&__item{
			@include col(12);
		}
	}
}






