.ar-section__wrap
	.ar-section__wrap_item


		h3.ar-section__title Cвежие рецеты
		.simular
			.simular__list
				.simular__item
					a.simular__wrap-link(href="single.html")
						img.simular__img(src="img/responsive/sim-1.jpg" alt="sim-1")
						.simular__content
							h4.simular__content__title Королевский мафина
							p.simular__content__text.
								Рецепт отменного мафина, очень простойРецепт отменного мафина, очень простойРецепт отменного мафина, очень простойРецепт отменного мафина, очень простой
							span.simular__content__link Читать подробнее
				.simular__item
					a.simular__wrap-link(href="single.html")
						img.simular__img(src="img/responsive/sim-2.jpg" alt="sim-2")
						.simular__content
							h4.simular__content__title Королевский мафина
							p.simular__content__text Рецепт отменного мафина, очень простой
							span.simular__content__link Читать подробнее
				.simular__item
					a.simular__wrap-link(href="single.html")
						img.simular__img(src="img/responsive/sim-3.jpg" alt="sim-3")
						.simular__content
							h4.simular__content__title Королевский мафина
							p.simular__content__text Рецепт отменного мафина, очень простой
							span.simular__content__link Читать подробнее
				.simular__item
					a.simular__wrap-link(href="single.html")
						img.simular__img(src="img/responsive/sim-4.jpg" alt="sim-4")
						.simular__content
							h4.simular__content__title Королевский мафина
							p.simular__content__text Рецепт отменного мафина, очень простой
							span.simular__content__link Читать подробнее


	.ar-section__wrap_item
		.ar-section__item
		.ar-section_logo
			include ../../../svg/logo__img.jade
		+buttonLink("Открыть блог", "blog.html", "button")
	.ar-section__wrap_item
		.ar-simular
			h3.ar-section__title Популяные статьи
			.simular
				.simular__list
					.simular__item
						a.simular__wrap-link(href="single.html")
							img.simular__img(src="img/responsive/sim-1.jpg" alt="sim-1")
							.simular__content
								h4.simular__content__title Королевский мафина
								p.simular__content__text Рецепт отменного мафина, очень простой
								span.simular__content__link Читать подробнее
					.simular__item
						a.simular__wrap-link(href="single.html")
							img.simular__img(src="img/responsive/sim-2.jpg" alt="sim-2")
							.simular__content
								h4.simular__content__title Королевский мафина
								p.simular__content__text Рецепт отменного мафина, очень простой
								span.simular__content__link Читать подробнее
					.simular__item
						a.simular__wrap-link(href="single.html")
							img.simular__img(src="img/responsive/sim-3.jpg" alt="sim-3")
							.simular__content
								h4.simular__content__title Королевский мафина
								p.simular__content__text Рецепт отменного мафина, очень простой
								span.simular__content__link Читать подробнее
					.simular__item
						a.simular__wrap-link(href="single.html")
							img.simular__img(src="img/responsive/sim-4.jpg" alt="sim-4")
							.simular__content
								h4.simular__content__title Королевский мафина
								p.simular__content__text Рецепт отменного мафина, очень простой
								span.simular__content__link Читать подробнее