section.content__preview
	include preview
.top-slider
	include top-slider
section.about
	.container
		include about.jade
section.why-me(style='background-image: url(img/item-4.jpg);')
	.container
		include why-me.jade
secton.ar-section
	.container
		include ar-section.jade
secton.reviews
	include reviews.jade
