section.preview
	.top-image.slider.slider-dark
		+topImageItem("slider-item-1.jpg")
			+topImageContent("Ultimate Bakery", "Кулинарные изделия")
		+topImageItem("slider-item-1.jpg")
			+topImageContent("Ultimate Bakery", "Кулинарные изделия")
		+topImageItem("slider-item-1.jpg")
			+topImageContent("Ultimate Bakery", "Кулинарные изделия")
	.top-image
		+topImageItem("slider-item-1.jpg")
			+topImageContent("Ultimate Bakery", "Кулинарные изделия")
section.about
	.container
		include about.jade
section.why-me(style='background-image: url(img/who-background.jpg);')
	.container
		include why-me.jade
secton.ar-section
	.container
		include ar-section.jade
secton.reviews
	include reviews
