+title("Отзывы","h2")
.slider.slider-light
	.slider__item
		.container
			+avatar("woman.jpg")
			+title("Диана Антуфьева","p", "", "title-name")
			.reviews__text
				| Качетсво продукции шикарное.
				br
				| Все доставили в срок.
				br
				| Очень вкусно и не дорого, рекомендую!
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, commodi officiis eaque quis suscipit dolorum repellat deleniti assumenda, ad tempore eveniet, harum sit. Fugiat esse ipsum ut autem, magnam nostrum eius assumenda dignissimos atque! Rem suscipit mollitia minima ullam quidem culpa eos, earum iusto, aut doloremque voluptatibus commodi et ipsam aperiam error magni maxime praesentium, nam voluptate tempore! Quas sint placeat illo quae autem ad inventore facilis non eius neque animi sed harum, quaerat corporis maiores eligendi praesentium dolor, quo omnis. Cumque, aperiam necessitatibus ipsa. Tempore delectus nisi nemo eveniet facere ratione, pariatur ab, aliquam, officia totam vel nostrum unde adipisci fugit neque explicabo in voluptates quasi hic fugiat quo incidunt. Distinctio nisi animi laborum vero amet architecto ab optio repellat soluta, quibusdam nemo repudiandae, eius similique tenetur veritatis consequuntur! In voluptas quaerat, assumenda. Ea, voluptas, voluptate? Dolore ut rem omnis dignissimos aspernatur sint unde vitae tenetur illum dolorem iusto quibusdam, optio id sunt. Deserunt, adipisci deleniti culpa mollitia molestiae temporibus excepturi dolore vero et porro optio similique ducimus nulla architecto quam a id! Rem incidunt, repudiandae ratione veritatis et. Porro natus unde reprehenderit provident voluptatibus quibusdam, numquam iure quo impedit, similique adipisci, voluptatem, laboriosam quos facilis voluptatum? Omnis, atque.
	.slider__item
		.container
			+avatar("woman.jpg")
			+title("Диана Антуфьева","p", "", "title-name")
			.reviews__text
				| Качетсво продукции шикарное.
				br
				| Все доставили в срок.
				br
				| Очень вкусно и не дорого, рекомендую!