+title("Почему <br> Ultime Bakery?","h2")
.tiles
	.tiles__item
		.wrap
			i.tiles__item__ico.fa.fa-clock-o
			h3.tiles__item__title Быстро
			p.tiles__item__text Доставим вашу прдукцию в срок.
	.tiles__item
		.wrap
			i.tiles__item__ico.fa.fa-rub
			h3.tiles__item__title Выгодно
			p.tiles__item__text Доставим вашу прдукцию в срок.
	.tiles__item
		.wrap
			i.tiles__item__ico.fa.fa-bullseye
			h3.tiles__item__title Креативно
			p.tiles__item__text Доставим вашу прдукцию в срок.
