

.article{
	&__list{

	}
	&__icon{
		@include center();
		&:before{
			@include center(left);
		}
		font-size: 46px;
		display: block;
		//padding: 20%;
		height: 65px;
		width: 65px;
		border-radius: 50%;
	}
	&__item{
		margin-bottom: 40px;
		.wrap{
			overflow: hidden;
			width: 100%;
			max-height: 350px;
			display: block;
			position: relative;
			&:after{
				@include trans(.3s);
				display: block;
				font-family: "FontAwesome";
				text-align: center;
				content: "\f00e";
				@include center();
				font-size: 60px;
				padding: 10px;
				z-index: 2000;
				opacity: 0;

			}
		}
	}
	&__preview{
		position: relative;
		display: block;
		margin-bottom: 60px;
		@include cloth();
		&:after{
			@include trans(.3s);
			opacity: 0;
		}
		&:hover{
			&:after{
				opacity: 0.42;
			}
			.wrap{
				
				&:after{
					opacity: .7;
				}
			}

		}
		&__img{
			width: 100%;
			
			display: block;

			
		}
		&__category{
			border: 2px solid transparent;
			@include trans(.3s);
			@include radius();
			width: 73px;
			height: 73px;
			@include center(bottom);
			transform: translate(-50%,50%);
			z-index: 100;
		}
	}
	&__content{
		padding-left: 48px;
		padding-right: 48px;
		&__title{
			text-align: center;
			font-size: 48px;
			margin-bottom: 34px;
		}
		&__text{
			font-size: 24px;
			line-height: 43px;
		}
		&__button{
			float: right;
		}
	}
}

