.pagination{
	text-align: center;
	font-size: 20px;
	margin-bottom: 150px;
	.active{
		font-size: 24px;
	}
	&__item{
		display: inline-block;
		margin: 0 7px;
		vertical-align: middle;
		
	}
	&__link{

	}
	&__after,&__before{
		border-radius: 50%;
		display: block;
		border: 1px solid red;
		height: 32px;
		width: 32px;
		position: relative;
	}
	&__after{
		&:before{
			@include center();
			font-size: 16px;
		}
	}
	&__before{
		&:before{
			@include center();
			font-size: 16px;
		}
	}
	&__more{

	}

}