.container.light
	.footer__logo
		include logo.jade
	.footer__inference
		include inference.jade
	.footer__phone
		include phone.jade
	.footer__nav
		include nav.jade
	.footer__social
		include social.jade
	.footer__copyright
		include copyright.jade
