.content__slider
	.slider
		.slider__item
			.slider__img(style='background-image: url(img/item-1.jpg);')
				.slider__content
					strong.slider__content__title Ultimate Bakery
					p.slider__content__text Кондитерские изделия <br> в каждый дом
		.slider__item
			.slider__img(style='background-image: url(img/item-2.jpg);')
				.slider__content
					strong.slider__content__title Ultimate Bakery
					p.slider__content__text Кондитерские изделия <br> в каждый дом
		.slider__item
			.slider__img(style='background-image: url(img/item-3.jpg);')
				.slider__content
					strong.slider__content__title Ultimate Bakery
					p.slider__content__text Кондитерские изделия <br> в каждый дом