ul.social 
	span.social__text Я в социальных сетях
	li.social__item
		a(href="#").social__link.fa.fa-vk
	li.social__item
		a(href="#").social__link.fa.fa-facebook
	li.social__item
		a(href="#").social__link.fa.fa-instagram