//Color
$colorExtra: #d65c5c;
$colorMain : #333;
$colorBase: #fff;
$colorDark : #000;

//Transition





//Global
body{
	color: $colorMain;
	&:before{
		content: "";
		display: block;
		background-image: img("Home.jpg");
		background-repeat: no-repeat;
		background-position: center 0;
		opacity: 0.2;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: none;
	}
}

a{
	color: $colorMain;
	text-decoration: none;
}


//Header

.logo{
	&__title{
		color: darken(saturate(adjust-hue($colorMain, 0.0000), 0.0000), 20.0000); // #000
		&__symbol{
			color: $colorExtra;
		}
	}
}

.light{
	color: $colorBase;
	.logo__img{
		fill: $colorBase;
	}
	.logo__title{
		color: $colorBase;
	}
	.nav__link{
		color: $colorBase;
	}
}


.nav{
	.active{
		border-bottom: 2px solid $colorExtra;
	}
	&__list{
		&__item{
			&:after{
				 border-bottom: solid 2px lighten($colorExtra, 10%); 
			}
			&:not(.active):hover{
				&:after{
					transform: scaleX(1);
				}
			}
		}
	}
}

.search{
	border: 1px solid lighten(saturate(adjust-hue(#333333, 0.0000), 0.0000), 56.0784); //#c2c2c2;
	&__text{
		color: lighten(saturate(adjust-hue(#333333, 0.0000), 0.0000), 56.0784); //#c2c2c2;
	}
	&__button{
		color: lighten(saturate(adjust-hue(#333333, 0.0000), 0.0000), 56.0784); //#c2c2c2;
		border-left: 1px solid lighten(saturate(adjust-hue(#333333, 0.0000), 0.0000), 56.0784); //#c2c2c2;
	}
}

//** ----------  Content

.wrapper-content{
	background-color: $colorBase;
	box-shadow: 0px 4px 5px 0px rgba($colorDark, 0.15);
	@include clear();
}

.slider-dark{
	// Flickity style  top-img
	.flickity-prev-next-button{
		background-color: transparent;
		path{
			fill: $colorBase;
		}
	}
	.flickity-page-dots{
		.dot{
			background-color: transparent;
			border: 1px solid $colorBase;
		}
		.is-selected{
			background-color: $colorBase;
		}
	}
}

.slider-light{
	// Flickity style  reviws
	.flickity-prev-next-button{
		background-color: transparent;
		path{
			fill: $colorMain;
		}
	}
	.flickity-page-dots{
		.dot{
			background-color: transparent;
			border: 1px solid $colorMain;
		}
		.is-selected{
			background-color: $colorMain;
		}
	}
}


// TopImage
.top-image{
	&__item{
		color: $colorBase;
	}
	&__wrap{
		&:after{
			background-color: rgba($colorDark,0.6);
		}
	}





	
	
}


// Review (slider)


.reviews{
	
}
// Why-me

.why-me{
	&:before{
		background-color: rgba($colorBase,0.85);
	}
}

// Tiles
.tiles{
	.wrap{
		background-color: $colorBase;
	}
	&__item{
		&__ico{
			color: $colorExtra;
		}
	}
}

// Title

.title{
	.wrap{
		border-bottom: 2px solid $colorExtra;
	}
}

// Avatar


.avatar{
	.wrap{
		border: 3px solid $colorExtra;
	}
}

// Button

.button{
	background-color: $colorExtra;
	color: $colorBase;
	border: none;
	@include trans();
	&:hover{
		background-color: darken($colorExtra, 5%);
	}
	&:active{
		background-color: darken($colorExtra, 7%);
		@include trans(.1s);
	}
}


// ar-simular
.ar-simular{
	&__img-wrap{
		&:before{
			background-color: rgba($colorDark,0.6);
		}
	}
	&__content{
		color: $colorBase;
		&__link{
			color: $colorBase;
		}
	}
}





//** ----------  Footer

.footer{
	background-color: $colorMain;
	color: $colorBase;
	.social__link{
		color: $colorBase;
	}
}


//**--------------- Blog

.bread-crumbs{
	border: 1px solid transparent;
	&__link{
		&:hover{
			border-bottom: 1px solid $colorExtra;
		}
	}
}
.article{
	&__item{
		.wrap{
			&:after{
				color: $colorBase;
			}
		}
	}
	&__icon{
		background-color: $colorBase;
	}
	&__preview{
		&:after{
			background-color: $colorDark;
		}
	&__category{
		//border: 3px solid $colorExtra;
		background-color: $colorExtra;
	}
	
	&:hover{
		color: $colorBase;
		.article__preview__category{
			border: 2px solid $colorExtra;
			background-color: $colorBase;
		}
		.article__icon{
			background-color: $colorExtra;
		}
	}
	}
}

.sidebar{
	&__link{
		&:before{
			background-color: $colorExtra;
		}
		&:hover{
			color: $colorExtra;
			.sidebar__text{
				border-color: $colorExtra;
			}
		}
	}
	.active{
		
		background-color: $colorExtra;
		.sidebar__text{
			color: $colorBase;
		}
		[class^="i-"]{
			color: $colorBase;
		}
	}
}