@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top-image__content, .avatar__img, .article__icon, .article__icon:before, .article__item .wrap:after, .article__preview__category, .pagination__after:before, .pagination__before:before {
  position: absolute;
}

.article__preview__category {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.article__icon:before {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.top-image__content, .avatar__img, .article__icon, .article__item .wrap:after, .pagination__after:before, .pagination__before:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container:after, .ar-section__wrap:after, .wrapper-content:after {
  content: "";
  display: table;
  clear: both;
}

.top-image__wrap:after, .simular__wrap-link:after, .article__preview:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.top-image__wrap:after, .simular__wrap-link:after, .article__preview:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@font-face {
  font-family: 'OpenSansCondensed-Light';
  src: url("../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.eot");
  src: url("../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.woff") format("woff"), url("../fonts/OpenSansCondensed/Light/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensed-Italic';
  src: url("../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.eot");
  src: url("../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.woff") format("woff"), url("../fonts/OpenSansCondensed/Italic/OpenSansCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensed-Bold';
  src: url("../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.eot");
  src: url("../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.woff") format("woff"), url("../fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont';
  src: url("../fonts/CustomFont/CustomFont.eot?58238920");
  src: url("../fonts/CustomFont/CustomFont.eot?58238920#iefix") format("embedded-opentype"), url("../fonts/CustomFont/CustomFont.woff2?58238920") format("woff2"), url("../fonts/CustomFont/CustomFont.woff?58238920") format("woff"), url("../fonts/CustomFont/CustomFont.ttf?58238920") format("truetype"), url("../fonts/CustomFont/CustomFont.svg?58238920#custom-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 "FontAwesome";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-search:before {
  content: "\f002";
}

.fa-heart:before {
  content: "\f004";
}

.fa-heart:before {
  content: "\f004";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-vk:before {
  content: "\f189";
}

[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "CustomFont";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.i-cook-hat:before {
  content: '\e800';
}

/* '' */
.i-cupcake:before {
  content: '\e801';
}

/* '' */
.i-meat:before {
  content: '\e802';
}

/* '' */
.i-pen:before {
  content: '\e803';
}

/* '' */
.i-pie:before {
  content: '\e804';
}

/* '' */
.i-pizza:before {
  content: '\e805';
}

/* '' */
.i-salad:before {
  content: '\e806';
}

/* '' */
.i-soup:before {
  content: '\e807';
}

/* '' */
.i-soup-2:before {
  content: '\e808';
}

/* '' */
.i-article:before {
  content: '\e80a';
}

/* '' */
.i-bread:before {
  content: '\e80b';
}

/* '' */
.i-sushi:before {
  content: '\e80c';
}

/* '' */
.i-users:before {
  content: '\e809';
}

/* '' */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
  font-family: "OpenSansCondensed-Light", Arial, sans-serif;
}

.container {
  width: 1170px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container:after, .container:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    padding: 0 15px;
  }
}

.wrapper {
  width: 100%;
}

.content {
  /* flex: 1; would be enough but it looks bad in IE */
}

img {
  width: 100%;
  height: auto;
}

.header .container {
  padding-top: 35px;
  min-height: 114px;
}

.header__logo {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 25%;
}

.header__logo:after, .header__logo:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .header__logo {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
  }
  .header__logo:after, .header__logo:before {
    display: table;
    content: "";
  }
}

.header__nav {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 58.33333%;
}

.header__nav:after, .header__nav:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .header__nav {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
  }
  .header__nav:after, .header__nav:before {
    display: table;
    content: "";
  }
}

.header__search {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 16.66667%;
}

.header__search:after, .header__search:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .header__search {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
  }
  .header__search:after, .header__search:before {
    display: table;
    content: "";
  }
}

.about {
  padding-top: 114px;
  padding-bottom: 119px;
}

.about__text {
  text-align: center;
  font-size: 30px;
  line-height: 43px;
  margin-bottom: 37px;
}

.footer {
  padding-top: 32px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__logo {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 25%;
}

.footer__logo:after, .footer__logo:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .footer__logo {
    width: 40%;
    max-width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  .footer__logo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}

.footer__inference {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 50%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.footer__inference:after, .footer__inference:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .footer__inference {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    max-width: 100%;
  }
}

.footer__phone {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 25%;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.footer__phone:after, .footer__phone:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .footer__phone {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    width: 50%;
    max-width: 50%;
  }
}

.footer__nav {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
}

.footer__nav:after, .footer__nav:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .footer__nav {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    text-align: right;
    width: 59%;
    max-width: 59%;
  }
}

@media only screen and (max-width: 480px) {
  .footer__nav {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}

.footer__social {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}

.footer__social:after, .footer__social:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .footer__social {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    width: 50%;
    max-width: 50%;
  }
}

.footer__copyright {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
}

.footer__copyright:after, .footer__copyright:before {
  display: table;
  content: "";
}

.why-me {
  width: 100%;
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  padding: 144px 0;
}

@media only screen and (max-width: 768px) {
  .why-me {
    padding: 49px 0;
  }
}

.why-me:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.why-me .container {
  position: relative;
  z-index: 10;
}

.ar-section__wrap {
  padding-top: 165px;
}

.ar-section__wrap_item {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

.ar-section__wrap_item:after, .ar-section__wrap_item:before {
  display: table;
  content: "";
}

@media only screen and (min-width: 768px) {
  .ar-section__wrap_item {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .ar-section__wrap_item {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 33.33333%;
    margin-bottom: 120px;
  }
  .ar-section__wrap_item:after, .ar-section__wrap_item:before {
    display: table;
    content: "";
  }
}

@media only screen and (max-width: 768px) {
  .reviews {
    display: none;
  }
}

.simular__list {
  width: 100%;
  display: block;
}

.ar-section .simular__item {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
}

.ar-section .simular__item:after, .ar-section .simular__item:before {
  display: table;
  content: "";
}

@media only screen and (min-width: 480px) {
  .ar-section .simular__item {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 50%;
  }
  .ar-section .simular__item:after, .ar-section .simular__item:before {
    display: table;
    content: "";
  }
}

.single .simular {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
}

.single .simular:after, .single .simular:before {
  display: table;
  content: "";
}

.single .simular__item {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
}

.single .simular__item:after, .single .simular__item:before {
  display: table;
  content: "";
}

@media only screen and (min-width: 768px) {
  .single .simular__item {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 33.33333%;
  }
  .single .simular__item:after, .single .simular__item:before {
    display: table;
    content: "";
  }
}

.no-touch #blog .content > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .flexbox #blog .content > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.article-list {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
  width: 100%;
}

.article-list:after, .article-list:before {
  display: table;
  content: "";
}

.sidebar {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
}

.simular {
  width: 100%;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.page-numbers {
  width: 100%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.single .comments {
  width: 100%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 27px;
}

@media only screen and (min-width: 1024px) {
  .single .comments {
    margin-bottom: 47px;
    margin-left: 0;
    width: 75%;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 480px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
  }
  .article__list {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .article__list {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 75%;
    padding-right: 15px;
  }
  .article__list:after, .article__list:before {
    display: table;
    content: "";
  }
  .sidebar {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    max-width: 20%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 25%;
    padding-left: 15px;
  }
  .sidebar:after, .sidebar:before {
    display: table;
    content: "";
  }
  .page-numbers {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
    width: 100%;
  }
  .page-numbers:after, .page-numbers:before {
    display: table;
    content: "";
  }
}

@media only screen and (min-width: 768px) {
  .no-flexbox #blog .content > .container {
    display: block;
  }
  .no-flexbox .article-list {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 75%;
    padding-right: 15px;
  }
  .no-flexbox .article-list:after, .no-flexbox .article-list:before {
    display: table;
    content: "";
  }
  .no-flexbox .sidebar {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 25%;
    padding-left: 15px;
  }
  .no-flexbox .sidebar:after, .no-flexbox .sidebar:before {
    display: table;
    content: "";
  }
  .no-flexbox .page-numbers {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
  }
  .no-flexbox .page-numbers:after, .no-flexbox .page-numbers:before {
    display: table;
    content: "";
  }
}

.sidebar__item {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 100%;
}

.sidebar__item:after, .sidebar__item:before {
  display: table;
  content: "";
}

@media only screen and (min-width: 562px) {
  .sidebar__item {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 33.33333%;
  }
  .sidebar__item:after, .sidebar__item:before {
    display: table;
    content: "";
  }
}

@media only screen and (min-width: 768px) {
  .sidebar__item {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 33.33333%;
  }
  .sidebar__item:after, .sidebar__item:before {
    display: table;
    content: "";
  }
}

@media only screen and (min-width: 1024px) {
  .sidebar__item {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
  }
  .sidebar__item:after, .sidebar__item:before {
    display: table;
    content: "";
  }
}

.logo {
  position: relative;
  top: -2px;
  text-align: left;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .logo {
    text-align: center;
  }
}

.logo__img {
  width: 45px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
  margin-right: 14px;
  white-space: nowrap;
}

.logo__title {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-family: "OpenSansCondensed-Bold";
}

.header .logo {
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .footer .logo {
    text-align: left;
    margin-bottom: 20px;
  }
  .footer .logo__img {
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .footer .logo {
    text-align: center;
  }
}

.ar-section_logo {
  text-align: center;
  padding-top: 92px;
  padding-bottom: 34px;
}

.ar-section_logo svg {
  width: 166px;
  height: 206px;
}

.nav {
  text-align: right;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .nav {
    font-size: 20px;
  }
}

.nav__list__item {
  display: inline-block;
  margin: 0 9px;
  margin-bottom: 10px;
}

.nav__list__item:after {
  display: block;
  content: '';
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  position: relative;
  top: 2px;
  -webkit-transition: -webkit-transform 120ms ease-in-out;
  transition: -webkit-transform 120ms ease-in-out;
  transition: transform 120ms ease-in-out;
  transition: transform 120ms ease-in-out, -webkit-transform 120ms ease-in-out;
}

.nav__link {
  display: block;
  padding-bottom: 2px;
}

.header .nav {
  padding-right: 8.5%;
  padding-top: 10px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .header .nav {
    text-align: center;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 20px;
  }
}

.footer .nav {
  display: inline-block;
  text-align: center;
}

.search {
  height: 28px;
  width: 100%;
  max-width: 960px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  padding-left: 12px;
}

.search__text {
  float: left;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding-top: 2px;
  font-family: "OpenSansCondensed-Light";
  padding-right: 35px;
}

.search__button {
  position: absolute;
  right: 10px;
  width: 19px;
  top: 5px;
  border: none;
  background-color: inherit;
  font-size: 14px;
  vertical-align: top;
  cursor: pointer;
  outline: none;
}

.header {
  text-align: center;
}

.header .search {
  margin-top: 7px;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .header .search {
    max-width: 240px;
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .phone {
    text-align: right;
  }
}

.phone__text {
  text-align: right;
  font-size: 24px;
  padding-bottom: 31px;
}

@media only screen and (max-width: 768px) {
  .phone__text {
    font-size: 20px;
    padding-bottom: 21px;
  }
}

.phone__number {
  text-align: right;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .phone__number {
    font-size: 24px;
  }
}

.inferance {
  text-align: center;
}

.inferance__text {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  max-width: 390px;
}

@media only screen and (max-width: 768px) {
  .inferance {
    padding: 20px 0;
  }
}

.copyright__text {
  text-align: center;
  font-size: 14px;
  font-family: "OpenSansCondensed-bold";
}

.copyright .fa {
  padding: 0 5px;
}

.footer .copyright {
  padding-bottom: 19px;
  padding-top: 19px;
}

.social {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .social {
    text-align: left;
    display: inline-block;
    font-size: 20px;
  }
}

.social__item {
  display: inline-block;
  margin: 0 5px;
}

.social__link {
  font-size: 24px;
  display: block;
}

.social__text {
  display: block;
  padding-bottom: 20px;
}

.top-image {
  position: relative;
  overflow: hidden;
  height: 266px;
}

.top-image__item {
  width: 100%;
  text-align: center;
  height: 266px;
}

.top-image__wrap {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.top-image__wrap:after {
  z-index: 1;
}

.top-image__content {
  z-index: 100;
}

.top-image__content__title {
  display: block;
  font-family: "OpenSansCondensed-Bold";
  margin-bottom: 32px;
  font-size: 60px;
}

@media only screen and (max-width: 768px) {
  .top-image__content__title {
    font-size: 48px;
  }
}

.top-image__content__text {
  font-size: 36px;
}

@media only screen and (max-width: 768px) {
  .top-image__content__text {
    font-size: 30px;
  }
}

#home .preview .top-image {
  display: none;
}

@media only screen and (max-width: 768px) {
  #home .preview .top-image {
    display: block;
  }
}

#blog .preview {
  margin-bottom: 34px;
}

#home .preview .slider {
  height: 500px;
  display: block;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #home .preview .slider {
    display: none;
  }
}

#home .preview .slider__item {
  width: 100%;
}

#home .preview .slider .top-image__item {
  height: 500px;
}

#home .preview .slider .top-image__content__title {
  font-size: 60px;
}

#home .preview .slider .top-image__content__text {
  font-size: 36px;
}

.slider .flickity-page-dots {
  bottom: 33px;
}

.slider .flickity-page-dots .dot {
  opacity: 1;
  width: 11px;
  height: 11px;
}

.slider .flickity-viewport {
  height: 500px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reviews {
  text-align: center;
}

.reviews .slider {
  height: auto;
  padding-bottom: 100px;
}

.reviews .slider__item {
  width: 100%;
  padding: 0 35px;
}

.reviews .slider .title__text {
  font-size: 30px;
}

.reviews__text {
  font-size: 18px;
  padding-bottom: 25px;
  line-height: 33px;
  height: 100%;
}

.title {
  text-align: center;
  margin-bottom: 37px;
}

.title .wrap {
  display: inline-block;
  padding-bottom: 9px;
  max-width: 50%;
}

@media only screen and (max-width: 480px) {
  .title .wrap {
    max-width: 100%;
  }
}

.title__text {
  font-size: 48px;
}

@media only screen and (max-width: 480px) {
  .title__text {
    font-size: 36px;
  }
}

.ar-section__title {
  text-align: center;
  font-size: 36px;
  padding-bottom: 60px;
}

@media only screen and (min-width: 480px) {
  .ar-section__title {
    font-size: 48px;
  }
}

@media only screen and (min-width: 768px) {
  .ar-section__title {
    font-size: 48px;
  }
}

.contats-title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 35px;
}

@media only screen and (min-width: 480px) {
  .contats-title {
    font-size: 36px;
    text-align: left;
    margin-bottom: 32px;
  }
}

.avatar {
  margin-bottom: 33px;
}

.avatar .wrap {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.avatar__img {
  width: 150%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 9;
}

#about .avatar {
  margin-bottom: 43px;
}

@media only screen and (min-width: 480px) {
  #about .avatar {
    margin-bottom: 63px;
  }
}

@media only screen and (min-width: 768px) {
  #about .avatar {
    margin-bottom: 69px;
  }
}

.button_wrap {
  text-align: center;
}

.button_wrap .button {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-family: "OpenSansCondensed-Light";
  font-size: 20px;
  padding: 8px 23px;
  outline: none;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 4px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 4px 2px 0px rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 480px) {
  .button_wrap .button {
    font-size: 24px;
    padding: 10px 30px;
  }
}

@media only screen and (min-width: 768px) {
  .button_wrap .button {
    font-size: 26px;
    padding: 11px 30px;
  }
}

.tiles__item {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  max-width: 33.33333%;
  padding: 15px;
}

.tiles__item:after, .tiles__item:before {
  display: table;
  content: "";
}

@media only screen and (max-width: 768px) {
  .tiles__item {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .tiles__item:after, .tiles__item:before {
    display: table;
    content: "";
  }
}

.tiles__item .wrap {
  text-align: center;
  padding-top: 29px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding-bottom: 73px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0px 4px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 4px 2px 0px rgba(0, 0, 0, 0.05);
  position: relative;
  height: 100%;
}

.tiles__item .wrap:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 2px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .tiles__item .wrap {
    margin: 0 auto;
  }
}

.tiles__item__ico {
  font-size: 86px;
}

.tiles__item__title {
  padding-top: 30px;
  font-family: "OpenSansCondensed-Bold";
  font-size: 30px;
  text-transform: uppercase;
}

.tiles__item__text {
  padding-top: 51px;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  .ar-section .simular__img {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .ar-section .simular__wrap-link {
    max-height: 120px;
  }
}

.single .simular__title {
  font-size: 36px;
  margin-bottom: 38px;
}

.single .simular__wrap-link {
  max-height: 200px;
}

.touch .simular__wrap-link:after {
  opacity: 1;
}

.touch .simular__content {
  opacity: 1;
}

.simular {
  text-align: center;
  position: relative;
  padding-bottom: 114px;
}

.simular__wrap-link {
  display: block;
  position: relative;
  overflow: hidden;
}

.simular__wrap-link:after {
  z-index: 1;
}

.simular__wrap-link:after {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.simular__wrap-link:hover:after {
  opacity: 1;
}

.simular__wrap-link:hover .simular__content {
  opacity: 1;
}

.simular__img {
  width: 100%;
  display: block;
  object-fit: contain;
}

.simular__content {
  top: 0;
  text-align: center;
  padding-top: 12px;
  position: absolute;
  width: 100%;
  z-index: 12;
  opacity: 0;
  height: 100%;
  font-size: 18px;
  line-height: 24px;
}

.simular__content__title {
  margin-top: 10px;
  font-size: 24px;
  top: 0;
}

@media only screen and (min-width: 768px) {
  .simular__content__title {
    font-size: 16px;
  }
}

.simular__content__text {
  padding-top: 15px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 10%;
  width: 100%;
}

.simular__content__link {
  width: 100%;
}

.simular__content__link:hover {
  text-decoration: underline;
}

.message-form {
  display: block;
  position: relative;
}

.message-form__ico {
  position: absolute;
  top: 1px;
  left: -80px;
  font-size: 60px;
  height: 57px;
  width: 57px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .message-form__ico {
    display: block;
  }
}

.message-form__text {
  border: none;
  margin-bottom: 18px;
  padding: 23px 27px;
  outline: none;
  font-size: 18px;
  font-family: "OpenSansCondensed-Light";
}

.message-form input {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .message-form input {
    display: inline-block;
    width: 208px;
    padding: 21px 19px;
    margin-right: 35px;
  }
}

.message-form input:last-of-type {
  margin-right: 0px;
}

.message-form textarea {
  min-height: 148px;
  width: 100%;
  resize: inherit;
}

.message-form .button {
  float: right;
}

@media only screen and (min-width: 768px) {
  .single .message-form {
    margin-left: 8.333333%;
  }
}

#about .wrapper-content {
  margin-top: 70px;
  padding-top: 40px;
  font-size: 24px;
  padding-left: 18px;
  padding-right: 18px;
  line-height: 30px;
  padding-bottom: 45px;
  margin-bottom: 45px;
}

@media only screen and (min-width: 480px) {
  #about .wrapper-content {
    padding-left: 33px;
    padding-right: 33px;
    line-height: 43px;
    padding-bottom: 102px;
    margin-bottom: 120px;
  }
}

@media only screen and (min-width: 768px) {
  #about .wrapper-content {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 132px;
  }
}

#contacts .wrapper-content {
  margin-top: 26px;
  margin-bottom: 45px;
  padding-top: 33px;
  padding-bottom: 45px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 22px;
}

@media only screen and (min-width: 480px) {
  #contacts .wrapper-content {
    margin-top: 114px;
    margin-bottom: 102px;
    padding-top: 38px;
    font-size: 24px;
    padding: 96px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media only screen and (min-width: 768px) {
  #contacts .wrapper-content {
    margin-bottom: 119px;
    padding-left: 98px;
    padding-right: 98px;
  }
}

#contacts .wrapper-content .contacts-text {
  margin-bottom: 40px;
}

.bread-crumbs {
  font-size: 18px;
  margin-bottom: 22px;
  width: 100%;
}

.bread-crumbs__item {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.bread-crumbs__item:after {
  display: inline;
  content: "»";
  position: absolute;
  right: -15px;
  top: 4px;
}

.bread-crumbs__item:last-child:after {
  display: none;
}

.bread-crumbs__link {
  display: block;
  height: 100%;
  border: 1px solid transparent;
  padding: 3px 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.bread-crumbs__link:hover {
  border-bottom: 1px solid red;
}

.article__icon {
  font-size: 46px;
  display: block;
  height: 65px;
  width: 65px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.article__item {
  margin-bottom: 40px;
}

.article__item .wrap {
  overflow: hidden;
  width: 100%;
  max-height: 350px;
  display: block;
  position: relative;
}

.article__item .wrap:after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  font-family: "FontAwesome";
  text-align: center;
  content: "\f00e";
  font-size: 60px;
  padding: 10px;
  z-index: 2000;
  opacity: 0;
}

.article__preview {
  position: relative;
  display: block;
  margin-bottom: 60px;
}

.article__preview:after {
  z-index: 1;
}

.article__preview:after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.article__preview:hover:after {
  opacity: 0.42;
}

.article__preview:hover .wrap:after {
  opacity: .7;
}

.article__preview__img {
  width: 100%;
  display: block;
}

.article__preview__category {
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 100;
  width: 40px;
  height: 40px;
}

.article__preview__category .article__icon {
  font-size: 28px;
  left: 30px;
}

@media only screen and (min-width: 480px) {
  .article__preview__category {
    width: 58px;
    height: 58px;
  }
  .article__preview__category .article__icon {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .article__preview__category {
    width: 73px;
    height: 73px;
  }
  .article__preview__category .article__icon {
    font-size: 46px;
    left: 34px;
  }
}

.article__content {
  padding-left: 48px;
  padding-right: 48px;
}

.article__content__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 34px;
}

.article__content__text {
  font-size: 24px;
  line-height: 43px;
  margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
  .article__content__text {
    margin-bottom: 100px;
  }
}

.article__content__button {
  float: right;
}

.single .wrapper-content {
  padding-bottom: 52px;
}

@media only screen and (min-width: 480px) {
  .single .wrapper-content {
    padding-bottom: 92px;
  }
}

@media only screen and (min-width: 768px) {
  .single .wrapper-content {
    padding-bottom: 139px;
  }
}

.sidebar {
  margin-bottom: 59px;
}

.sidebar .wrapper-content {
  overflow: hidden;
}

.sidebar__item {
  width: 100%;
  padding-left: 10%;
  margin-bottom: 32px;
}

@media only screen and (min-width: 562px) {
  .sidebar__item {
    padding-left: 9px;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar__item {
    padding-left: 22px;
  }
}

.sidebar__text {
  border-bottom: 1px solid transparent;
}

.sidebar__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 27px;
}

.sidebar__list {
  font-size: 20px;
}

@media only screen and (min-width: 480px) {
  .sidebar__list__item {
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar__list__item {
    margin: 5px 0;
  }
}

.sidebar__link {
  display: table;
  padding: 5px 0;
  position: relative;
}

.sidebar__link:before {
  content: "";
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: -10px;
  opacity: 0;
  top: 14px;
  width: 6px;
  height: 6px;
}

.sidebar__link:hover:before {
  opacity: 1;
}

.sidebar [class^="i-"] {
  font-size: 23px;
  padding-right: 2px;
  display: table-cell;
}

.sidebar .active .sidebar__link:before {
  display: none;
}

.sidebar .active .sidebar__text {
  border-bottom: none;
}

.pagination {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 480px) {
  .pagination {
    margin-bottom: 75px;
  }
}

@media only screen and (min-width: 768px) {
  .pagination {
    margin-bottom: 150px;
  }
}

.pagination .active {
  font-size: 24px;
}

.pagination__item {
  display: inline-block;
  margin: 0 7px;
  vertical-align: middle;
}

.pagination__after, .pagination__before {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: block;
  height: 32px;
  width: 32px;
  position: relative;
}

.pagination__after:before {
  font-size: 16px;
}

.pagination__before:before {
  font-size: 16px;
}

body {
  color: #333;
}

body:before {
  content: "";
  display: block;
  background-image: url("../img/Home.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

a {
  color: #333;
  text-decoration: none;
}

.logo__title {
  color: black;
}

.logo__title__symbol {
  color: #d65c5c;
}

.light {
  color: #fff;
}

.light .logo__img {
  fill: #fff;
}

.light .logo__title {
  color: #fff;
}

.light .nav__link {
  color: #fff;
}

.nav .active {
  border-bottom: 2px solid #d65c5c;
}

.nav__list__item:after {
  border-bottom: solid 2px #e08585;
}

.nav__list__item:not(.active):hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.search {
  border: 1px solid #c2c2c2;
}

.search__text {
  color: #c2c2c2;
}

.search__button {
  color: #c2c2c2;
  border-left: 1px solid #c2c2c2;
}

.wrapper-content {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #c2c2c2;
}

#about .wrapper-content {
  border: none;
}

.message-form__text {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #c2c2c2;
}

.slider-dark .flickity-prev-next-button {
  background-color: transparent;
}

.slider-dark .flickity-prev-next-button path {
  fill: #fff;
}

.slider-dark .flickity-page-dots .dot {
  background-color: transparent;
  border: 1px solid #fff;
}

.slider-dark .flickity-page-dots .is-selected {
  background-color: #fff;
}

.slider-light .flickity-prev-next-button {
  background-color: transparent;
}

.slider-light .flickity-prev-next-button path {
  fill: #333;
}

.slider-light .flickity-page-dots .dot {
  background-color: transparent;
  border: 1px solid #333;
}

.slider-light .flickity-page-dots .is-selected {
  background-color: #333;
}

.top-image__item {
  color: #fff;
}

.top-image__wrap:after {
  background-color: rgba(0, 0, 0, 0.6);
}

.why-me:before {
  background-color: rgba(255, 255, 255, 0.85);
}

.tiles .wrap {
  background-color: #fff;
}

.tiles__item__ico {
  color: #d65c5c;
}

.title .wrap {
  border-bottom: 2px solid #d65c5c;
}

.avatar .wrap {
  border: 3px solid #d65c5c;
}

.button {
  background-color: #d65c5c;
  color: #fff;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:hover {
  background-color: #d14848;
}

.button:active {
  background-color: #cf3f3f;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.simular__wrap-link:hover:after {
  background-color: rgba(0, 0, 0, 0.6);
}

.simular__content {
  color: #fff;
}

.simular__content__link {
  color: #fff;
}

.touch .simular__wrap-link:after {
  background-color: rgba(0, 0, 0, 0.7);
}

.touch__content {
  color: #fff;
}

.touch__content__link {
  color: #fff;
}

.footer {
  background-color: #333;
  color: #fff;
}

.footer .social__link {
  color: #fff;
}

.bread-crumbs {
  border: 1px solid transparent;
}

.bread-crumbs__link:hover {
  border-bottom: 1px solid #d65c5c;
}

.article__item .wrap:after {
  color: #fff;
}

.article__icon {
  background-color: #fff;
}

.article__preview:after {
  background-color: #000;
}

.article__preview__category {
  background-color: #d65c5c;
}

.article__preview:hover {
  color: #fff;
}

.article__preview:hover .article__preview__category {
  border: 2px solid #d65c5c;
  background-color: #fff;
}

.article__preview:hover .article__icon {
  background-color: #d65c5c;
}

.sidebar__link:before {
  background-color: #d65c5c;
}

.sidebar__link:hover {
  color: #d65c5c;
}

.sidebar__link:hover .sidebar__text {
  border-color: #d65c5c;
}

.sidebar .active {
  background-color: #d65c5c;
}

.sidebar .active .sidebar__text {
  color: #fff;
}

.sidebar .active [class^="i-"] {
  color: #fff;
}

.pagination__link:hover {
  border-bottom: 1px solid #d65c5c;
}

.pagination .active .pagination__link {
  color: #d65c5c;
  border-bottom: 1px solid #d65c5c;
}

.pagination__after, .pagination__before {
  border: 1px solid #d65c5c;
}
