extends templates/baseTemplate


block title
	title #{title} - Blog
block wrapper
	.wrapper#blog
		header.header
			block header
				include modules/header
		.content
			block content
				include modules/pages/Blog/content
		footer.footer
			block footer
				include modules/footer