.avatar{
	.wrap{
		height: 150px;
		width: 150px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		z-index: 10;
	}
	&__img{
		width: 150%;
		border-radius: 50%;
  		z-index: 9;
  		@include center();
	}
	margin-bottom: 33px;
}

#about{
	.avatar{
		margin-bottom: 43px;
		@include apply-to($small){
			margin-bottom: 63px;
		}
		@include apply-to($medium){
			margin-bottom: 69px;
		}
	}
}