.footer{
	padding-top: 32px;
	width: 100%;
	.container{
  		@media only screen and(max-width: $medium){
			display: flex;
  			justify-content: space-between;
  			flex-wrap: wrap;
  			flex-direction: row;
		}
	}
	&__logo{
		order: 1;
		@include col(3);
		@media only screen and(max-width: $medium){
			width: 40%;
			max-width: 40%;
		}
		@media only screen and(max-width: $small)
		{
			order: 2;
			text-align: center;
			width: 100%;
			max-width: 100%;
			
		}
	}
	&__inference{
		@include col(6);
		order: 2;
		@media only screen and(max-width: $medium){
			order: 4;
			width: 100%;
			max-width: 100%;
		}
	}
	&__phone{
		@include col(3);
		order: 3;
		@media only screen and(max-width: $medium){
			order: 5;
			width: 50%;
			max-width: 50%;
		}
	}
	&__nav{
		@include col(12);
		text-align: center;
		order: 4;
		@media only screen and(max-width: $medium)
		{
			order: 2;
			text-align: right;
			width: 59.8%;
			max-width: 59.8%;
			
		}
		@media only screen and(max-width: $small)
		{
			order: 2;
			text-align: center;
			width: 100%;
			max-width: 100%;
			
		}
	}
	&__social{
		@include col(12);
		order: 5;
		@media only screen and(max-width: $medium){
			order: 4;
			width: 50%;
			max-width: 50%;
		}
	}
	&__copyright{
		@include col(12);
		order: 6;
	}
}