.logo{
	position: relative;
	top: -2px;
	text-align: left;
	white-space: nowrap;
	@media only screen and (max-width : $medium){
		text-align: center;
	}
	&__img{
		width: 45px;
		height: 48px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 14px;
		margin-right: 14px;
		white-space: nowrap;
		&__link{

		}
	}
	&__title{
		white-space: nowrap;
		display: inline-block;
		vertical-align: middle;
		font-size: 24px;
		font-family: font($bold);
	}
}


.header{
	.logo{
		padding-bottom: 20px;
	}
}

.footer{
	.logo{
		@media only screen and (max-width : $medium){
			text-align: left;
			margin-bottom: 20px;

			&__img{
				margin-left: 0;
			}
		}
		@media only screen and(max-width: $small)
		{
			text-align: center;
		}
	}
}



.ar-section{

	&_logo{
		text-align: center;
		padding-top: 92px;
		padding-bottom: 34px;
		svg{
		width: 166px;
		height: 206px;
		}
	}
}