#home
	.preview{
		.slider{
			height: $topSliderHeght;
			display: block;
			width: 100%;
			@include apply-to($medium, max){
				display: none;
			}
			&__item{
				width: 100%;
			}
			.top-image__item{
				height: $topSliderHeght;
			}
			.top-image__content{
				&__title{
					font-size: 60px;
				}
				&__text{
					font-size: 36px;
				}
			}
		}
	}



// Flickity style
.slider{
	.flickity-page-dots{
		bottom: 33px;
		.dot{
			opacity: 1;
			width: 11px;
			height: 11px;
		}
	}
	.flickity-viewport{
		height: $topSliderHeght;
		@include trans(.3s);
	}
}
	


.reviews{
	text-align: center;
	.slider{
		height: auto;
		padding-bottom: 100px;
		&__item{
			width: 100%;
			padding: 0 35px;
		}
		.title__text{
			font-size: 30px;
		}
	}

	&__text{
		font-size: 18px;
		padding-bottom: 25px;
		line-height: 33px;
		height: 100%;
	}
}