#about{
	.wrapper-content{
		margin-top: 70px;
		padding-top: 40px;
		font-size: 24px;
		padding-left: 18px;
		padding-right: 18px;
		line-height: 30px;
		padding-bottom: 45px;
		margin-bottom: 45px;
		@include apply-to($small){
			padding-left: 33px;
			padding-right: 33px;
			line-height: 43px;
			padding-bottom: 102px;
			margin-bottom: 120px;
		}
		@include apply-to($medium){
			padding-left: 48px;
			padding-right: 48px;
			padding-bottom: 132px;
		}
	}
}